<!DOCTYPE html>
<html>
    <head>
        <title>Damian Dalle Nogare</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    </head>
    <body>
        
 
        
        
        <div class="ui menu">
            <a class="item" href="/">
                Home
            </a>
            <div class="ui simple dropdown link item">
                <span class="text">About</span>
                <div class="menu">
                    <div class="item"><a href="/bio">Bio</a></div>
                    <div class="item">CV</div>
                    <div class="item">Contact</div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">Social</span>
                        <div class="menu">
                            <div class="item"><i class="facebook square icon"></i> Facebook</div>
                            <div class="item"><i class="twitter square icon"></i> <a href="https://www.twitter.com/damiandn">Twitter</a></div>
                            <div class="item"><i class="linkedin square icon"></i> <a href="https://www.linkedin.com/in/damian-dalle-nogare/">LinkedIn</a></div>
                            <div class="item"><i class="google plus square icon"></i> Google+</div>
                            <div class="item"><i class="instagram icon"></i> <a href="https://www.instagram.com/damiandallenogare/">Instagram</div>
                            <div class="item"><i class="github square icon"></i> Github</a></div>
                              
                        </div>
                    </div>
                </div>
            </div> 
            
            <div class="ui simple dropdown link item">
            <span class="text">Science</span>
                <div class="menu">
                    <div class="item">Interests</div>
                    <div class="item"> <a href="/publications">Publications</a></div>
                    
                     <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">Resources</span>
                        <div class="menu">
                             <div class="item">Tools</div>
                             <div class="item">Sequences</div>
                        </div>
                     </div>
                </div>
            </div>
            
            <div class="ui simple dropdown link item">
            <span class="text">Microscopy</span>
                <div class="menu">
                    <div class="item">Timelapse</div>
                    <div class="item">Super Resolution</div>
                </div>
            </div>
        </div>
            
     