<!DOCTYPE html>
<html>
    <head>
        <title>Damian Dalle Nogare</title>
       
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
       
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    
       
       
    </head>
    <body>
        
        
      

       
        <div class="ui menu">
            
      
            
            
            <a class="item" href="/">
                Home
            </a>
            
            <div class="ui simple dropdown link item">
                <span class="text">About</span>
                 <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="ui item"><a href="/bio">Bio</a></div>
                    <div class="ui item"><a href="/cv">CV</a></div>
                    <div class="item"><a href="mailto:damiandn@gmail.com">Contact</a></div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">Social</span>
                        <div class="menu">
                            <div class="item"><i class="facebook square icon"></i> <a href="https://www.facebook.com/damiandn">Facebook</a> </div>
                            <div class="item"><i class="twitter square icon"></i> <a href="https://www.twitter.com/damiandn">Twitter</a></div>
                            <div class="item"><i class="linkedin square icon"></i> <a href="https://www.linkedin.com/in/damian-dalle-nogare/">LinkedIn</a></div>
                            <div class="item"><i class="instagram icon"></i> <a href="https://www.instagram.com/damiandallenogare/">Instagram</div>
                            <div class="item"><i class="github square icon"></i> <a href="https://github.com/damiandn">Github</a></div>
                              
                        </div>
                    </div>
                   
                </div>
            </div> 
            
            <div class="ui simple dropdown link item">
            <span class="text">Science</span>
              <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item"><a href="/interests">Interests</div>
                    <div class="item"> <a href="/publications">Publications</a></div>
                    
                     <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">Resources</span>
                        <div class="menu">
                             <div class="item"><a href="/resources/tools">Tools</div>
                             <div class="item"><a href="/resources/sequences">  Sequences </a></div>
                        </div>
                     </div>
                </div>
            </div>
            
            <div class="ui simple dropdown link item">
            <span class="text"><a href="/microscopy">Microscopy</a></span>
            </div>
            
             <div id=test_menu>
            </div>
            
        </div>
            
        </div>
