<% include ../partials/header %>


<section id="tools_header" class="jumbotron text-center">
    
    <h1 class="page_header"> Tools </h1>
    <p class="lead"> A collection of tools</p>
</section>


<section id="tools_gallery">
    
    <div class="container">    
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <a href="https://apps.damiandn.com/neuromasts"> <img class="card-img-top" src="https://res.cloudinary.com/damiandn/image/upload/v1523831322/DensityPlot.png" alt=""></a>
                   
                    <div class="card-body">
                        <h5 class="card-title"> Easy Density Plotting in R </h5>
                        <p class="card-text">A tool to easily make probability denisty plots and scatter plots from an uploaded CSV file</p>
                    </div>
                </div>
            </div>    
            
        </div>
      </div>  
</section>



<% include ../partials/footer %>