<% include partials/header %>

<section id="microscopy_header" class="jumbotron text-center">
    
    <h1 class="page_header"> Biography </h1>
</section>

 <div class="container"> 
        
        <div>
            <p> I was born and raised in Melbourne, Australia, to immigrant parents. At 17, I left Australia to study abroad and completed my undergraduate honors degree in Biochemistry at the University of Otago, in Dunedin, New Zealand, using data mining and sequence analysis to characterize a number of novel retrotransposable elements in the laboratory of Russell Poulter  <p>
                <p> After completing my degree, I moved to the laboratory of Mary Ellen Lane at Rice University in Houston, Texas, where I worked on the diversification of cell cycle control at the zebrafish mid-blastula transition, approximately three hours after fertilization</p>
                <p> I graduated in 2008 and moved to the National Institute of Child Health and Human Development (NICHD) at the National Institutes of Health (NIH) in Bethesda, MD, first as a postdoc and currently as a staff scientist in the Section on Neural Developmental Dynamics in the Division of Developmental Biology under Ajay Chitnis </p>
            <p> In my current position, I plan and execute a research program, supervise postbac fellows, and manage equipment, primarily confocal microscopes. I am also interested in developing computational tools for data and image anlaysis, and collaborate broadly across the NIH </p>
            <p> I currently live in Bethesda, MD.</p>
        </div>
        </div>
    </div>


</div>

<% include partials/footer %>