<% include partials/header %>

<div class="ui container">
    
   
    
<h1 class="page_header">Damian Dalle Nogare, PhD</h1>

<hr>
<div class="cv_text"> 
    
<h3><strong>Education</strong></h3>




<p><strong>Rice University</strong>, Houston, Texas (2001-2007)</p>
<p><strong>PhD</strong>, Biochemistry and Cell Biology </p>
<p>Thesis: Molecular-genetic analysis of cell cycle diversification during Zebrafish embryogenesis</p>
<p><strong>University of Otago</strong>, Dunedin, New Zealand (1997-2001)</p>
<p><strong>Bsc(hons 1)</strong>, Biochemistry</p>
<p>Thesis: The LTR retrotransposon gag protein: structure, function and mutagenesis</p>

<hr>

<h3><strong>Research Experience</strong></h3>
<p><strong>Staff Scientist</strong>, Laboratory of Dr. Ajay Chitnis, Section of Vertebrate Neural Development, NICHD, NIH (October 2015 – present)</p>

<p><strong>Research Fellow</strong>, Laboratory of Dr. Ajay Chitnis, Section on Vertebrate Neural Development, NICHD, NIH (January 2013 – present)</p>

<p><strong>Postdoctoral Fellow</strong>, Laboratory of Dr. Ajay Chitnis, Section on Vertebrate Neural Development, NICHD, NIH (January 2008 – 2012)</p>

<p><strong>PhD research</strong>, Laboratory of Dr. Mary Ellen Lane, Rice University (December 2001-2007)</p>

<p><strong>Junior Research Fellow</strong>, Laboratory of Dr. Russell Poulter, Otago University (January 2001-June 2001)</p>

<p><strong>Undergraduate Research</strong>, Laboratory of Dr. Russell Poulter, Otago University (November 1999-January 2001)</p>

<hr>

<h3><strong>Skills and experience</strong></h3>
<p>DIC, epifluorescence, deconvolution, SPIM, single and two-photon confocal Microscopy, microscope construction (openSPIM))</p>
<p>Zebrafish husbandry and embryological techniques including microinjection, immunostaining, BrdU staining, in situ hybridization, thin sectioning)</p>
<p>eneral molecular biology techniques, PCR, cloning, bacterial techniques, vertebrate transgenic techniques, CRISPR)</p>
<p>Agent-based computer modeling techniques (NetLogo), computer programming and software development, computational image analysis.)</p>
<p>Statistical and analysis software: R, Matlab, Python)</p>
<p>Full-stack web development (HTML, CSS, Javascript, jQuery, Express, NodeJS, MongoDB))</p>

<hr>

<h3><strong>Invited Talks</strong></h3>
<p>International Society for Extracellular Vesicles (ISEV) meeting, Barcelona Spain (2018))</p>
<p>Cold Spring Harbor Cellular Dynamics and Models Symposium, (2017))</p>
<p>NICHD Developmental Biology Symposium (2015))</p>
<p>International Society for Developmental Biology, Cancun, Mexico (2013))</p>
<p>NICHD postdoctoral retreat, Washington, DC (2012))</p>
<p>Texas and Southern Plains Zebrafish meeting, College Station, TX (2007))</p>
<p>Society for Developmental Biology southwestern regional meeting Boulder, CO (2005))</p>
<p>Texas and Southern Plains Zebrafish meeting, Houston, TX (2005))</p>

<hr>

<h3><strong>Teaching and Mentoring Experience</strong></h3>
<p>Supervisor, NIH postbaccaleureate interns (2010-present))</p>
<p>NIH summer journal club leader (2011))</p>
<p>Instructor, biology for non-majors developmental biology section, Rice University (Fall 2005-2006))</p>
<p>Teaching Assistant, developmental biology and immunology, Rice University (2002-2003))</p>
<p>Undergraduate Research Mentor, Rice University (2002-2007))</p>
<p>Laboratory Teaching Assistant, undergraduate biochemistry, Otago University (1999 - 2000))</p>

<hr>

<h3><strong>Awards</strong></h3>
<p>Poster presentation award, cell morphodynamics Latin America, Santiago Chile 2014</p>
<p>Rice University Biochemistry and Cell Biology Department best thesis award, 2008</p>
<p>Texas and Southern Plains Zebrafish Conference Presentation Award, 2007Biochemistry and Cell Biology Departmental Service Award, 2006</p>
<p>Biochemistry and Cell Biology Student Seminar Presentation Award, 2006</p>

<hr>

<h3><strong>Academic and Community Service</strong></h3>
<p>Confocal microscope supervisor for maintenance and user training, NICHD.</p>
<p>PGD SPIM microscope build team, 2014</p>
<p>Biochemistry and Cell Biology Department Graduate Student Association</p>
<p>Vice-President (2005-2006), Faculty representative (2004-2005), departmental</p>
<p>retreat committee (2005), curriculum committee, (2005)</p>
<p>Rice University Cain Project in Engineering and Professional</p>
<p>Communication, speech and presentation mentor (2005-2006)</p>

<hr>

<h3><strong>Publications</strong></h3>


<h3>Resarch Articles</h3>
<p>Neelathi, UM, Dalle Nogare D and Chitnis AB Cxcl12a induces snail1b expression to initiate collective migration and sequential Fgf-dependent neuromast formation in the zebrafish Lateral Line primordium. Development 2018 Jun 26 [Epub ahead of print]</p>

<p>Marquart GD, Tabor KM, Horstick EJ, Brown M, Geoca AK, Polys NF, Dalle Nogare D, Burgess HA. High-precision registration between zebrafish brain atlases using symmetric diffeomorphic normalization. Gigascience. 2017 Aug 1;6(8):1-15</p>

<p>Zheng W, Wu Y, Winter P, Fischer R, Dalle Nogare D, Hong A, McCormick C, Christensen R, Dempsey WP, Arnold DB, Zimmerberg J, Chitnis A, Sellers J, Waterman C and Shroff H. Adaptive optics improves multiphoton super-resolution imaging. Nat Methods. 2017 Sep;14(9):869-872</p>

<p>Knutsdottir H, Zmurchok C, Bhaskar D, Palsson E, Dalle Nogare D, Chitnis AB and Edelstein-Keshet L. Polarization and migration in the zebrafish posterior lateral line system. PLoS Comput Biol (2017) 13(4):e1005451</p>

<p>Dalle Nogare D and Chitnis AB. A framework for understanding morphogenesis and migration of the zebrafish posterior lateral line primordium. Mech. Dev. (2017) Dec; 148:69-78</p>

<p>Dalle Nogare D, Nikaido M, Somers K, Head J, Piotrowski T and Chitnis AB. In toto imaging of the migrating Zebrafish lateral line primordium at single cell resolution. Dev Biol (2017) Feb 1;422(1).</p>

<p>Matsuda M, Rand K, Palardy G, Shimizu N, Ikeda H, Dalle Nogare D, Itoh M and Chitnis AB. Epb41l5 competes with Delta as a substrate for Mib1 to coordinate specification and differentiation of neurons. Development (2016) 143(17) 3085-96.</p>

<p>Winter PW, York AG, Dalle Nogare D, Ingaramo M, Christensen R, Chitnis AB, Patterson GH and Shroff H. Two-photon instant structured illumination microscopy improves the depth penetration of super-resolution imaging in thick scattering samples. Optica (2014) Sep 20; 1(3):181-191</p>

<p>Dalle Nogare D, Rao S, Somers K, Matsuda M, Reichman M, Raz E and Chitnis AB. Leading and Trailing cells cooperate in collective migration of the zebrafish lateral line primordium. Development (2014) 141(16) 3188-96</p>

<p>Matsuda M, Dalle Nogare D, Somers K and Chitnis AB. Lef1 regulated Dusp6 to influence neuromast formation and spacing in the Zebrafish posterior lateral line primordium. Development (2013) 140(11) 2387-97</p>

<p>York AG, Chandris P, Dalle Nogare D, Head J, Wawrzusin P, Fischer R, Chitnis AB and Shroff, H. Instant super-resolution imaging in live cells and embryos via analog image processing. Nature Methods 2013 10;11 1122-1126.</p>

<p>York AG, Parekh SH, Dalle Nogare D, Fischer RD, Temprine K, Mione M, Chitnis AB, Combs CA, and Shroff, H. Resolution doubling in live, multicellular organisms via multifocal structured illumination microscopy. Nature Methods 2012 13:9(7) 749-54</p>

<p>Veleri S, Bishop K, Dalle Nogare D, English MA, Foskett TJ, Chitnis A, Liu P, Swaroop A. Knockdown of Bardet-Biedl syndrome gene BBS9/PTHB1 leads to cilia defects. PLoS One (2012) 12;7(3) e34389</p>

<p>Ernst S, Liu K, Avci ME, Agarwala S, Moratscheck N, Dalle Nogare D, Chitnis A, Ronneberger A, Lecaudey V. Shroom3 is required downstream of FGF signaling to mediate proneuromast assembly in the zebrafish. Development (2012) 139(24): 4571-81</p>

<p>Dalle Nogare D, Pauerstein, P and Lane ME. G2 acquisition by transcription-independent mechanism at the zebrafish midblastula transition. Dev Biol. 2009 Feb 1;326(1):131-42.</p>

<p>Dalle Nogare DE, Arguello A, Sazer S and Lane, ME Zebrafish cdc25 is expressed during early development and is limiting for post-blastoderm cell cycle progression. Dev. Dyn. 236(12) 3427-3435 2007</p>

<p>Cardnell RJ, Dalle Nogare D, Ganetzky B and Stern MJ In vivo analysis of a gain-of-function mutation in the Drosophila eag-encoded K+ channel. Genetics 172(4) 2351-2358 2006</p>

<p>Goodwin TJ, Dalle Nogare D, Bulter MI and Poulter RT Ty3/gypsylikeretrotransposons in Candida albicans and Candida dubliniensis: Tca3 and Tcd3. Yeast 20(6) 493-508 2003</p>

<p>Dalle Nogare D, Clark MS, Elgar G, Frame IG and Poulter RT  Xena, a full length basal retroelement from tetraodontid fish. Mol Bio Evol 19(3) 247- 255 2002</p>


<h3>Reviews</h3>

<p>Chitnis AB and Dalle Nogare D. Time-lapse imaging beyond the diffraction Limit. Methods 2018 Nov 1; 150:32-41</p>

<p>Dalle Nogare D and Chitnis AB. Self-organizing spots get under your skin. PLoS Biol. 2017 Dec 20;15(12)</p>

<p>Dalle Nogare D and Chitnis AB. Connecting physical cues and tissue patterning. Elife (2015) Oct 16;4:e11375</p>

<p>Chitnis, AB and Dalle Nogare, D. Lessons from the Zebrafish Lateral Line System. In Moody, S (ed) Principles of Developmental Genetics, 2nd Edition.</p>

<p>Chitnis AB, Dalle Nogare, D and Matsuda M. Building the posterior lateral line system in zebrafish. Dev. Neurobiol (2012) 72(3) 234-55</p>

</p>

</div>
</div>


<% include partials/footer %>