<% include partials/header %>





    
 
    
    
</div>

<div class="ui container">
    
    
    





<!--<div class="ui one column stackable center aligned page grid"> -->
   <!--<div class="column twelve wide"> -->
  
  <div class="container">
        <div>
            <h1 class="MainNameHeader  text-center"> DAMIAN DALLE NOGARE</h1>
            <hr>
        </div>
           
       
           
<div style="text-align: center">
           
 <video autoplay muted loop>
                        <source src="/media/nuc_hero.m4v" class="mainImage" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>         
           
     </div>                 


    </div>
</div>


