<% include partials/header %>





    
 
    
    
</div>

<div class="ui container">
    
    
    





<!--<div class="ui one column stackable center aligned page grid"> -->
   <!--<div class="column twelve wide"> -->
  
  <div class="container">
        <div>
            <h1 class="MainNameHeader  text-center"> DAMIAN DALLE NOGARE</h1>
            <hr>
        </div>
           
       
    </div>
</div>

<% include partials/footer %>
