<% include partials/header %>


<section id="interests_header" class="jumbotron text-center">
    
    <h1 class="page_header"> Sceintific Interests </h1>
     <p class="lead"> An incomplete list of scientific interests</p>
</section>

 <div class="container"> 
        
     <div class="d-flex justify-content-around" style="height:300px">	
        
        <div>
            <h2>Developmental Biology</h2>
            <h4>Collective Cell Migration</h4>
            <h4>Cell-cell signaling</h4>
            <h4>Fillopodial Signalling</h4>
            <h4>Tissue Mechanics</h4>
            <h4>Genomic Engineering</h4>
        </div>
            
         <div>
             <h2>Other Interests</h2>
             <h4>Microscopy</h4>
             <h4>Image Analysis</h4>
             <h4>Computational Modelling</h4>
             <h4>Machine Learning/Neural Networks</h4>
         </div>
       
       </div>   
</div>



<% include partials/footer %>