<% include partials/header %>

<section id="microscopy_header" class="jumbotron text-center">
    
    <h1 class="page_header"> Microscopy </h1>
    <p class="lead"> A collection of microscopy images</p>
</section>


<section id="microscopy_gallery">
    
    <div class="container-fluid">    
        <div class="row">
          
            <div class="col-md-4 mb-4">
                <div class="card">
                   
                    <video autoplay muted loop class=="card-img-top">
                        <source src="/media/vid.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>   
                
                    <div class="card-body">
                        <h5 class="card-title"> Mitochondria in zebarfish immune cell in situ </h5>
                        <p class="card-text">LifeAct-GFP (green) marking actin and Lyn-mScarlet (red) marking cell membranes at the leading edge of the migrating posterior lateral line primordium. Zeiss 880 Airyscan, images aquired every second. </p>
                    </div>
                </div>
            </div>  
            
             <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://res.cloudinary.com/damiandn/image/upload/v1541900759/SD_projection_TS-1.gif" alt="Mitochondria in zebrafish immune cell">
                    <div class="card-body">
                        <h5 class="card-title"> Mitochondria in zebarfish immune cell in situ </h5>
                        <p class="card-text">Labelled mitochondria labelled by in zebrafish immune cell. Zeiss 880 Airyscan, images aquired every 15 seconds.  </p>
                    </div>
                </div>
            </div>  
            
           <div class="col-md-4 mb-4">
                <div class="card">
                   <video autoplay muted loop>
                        <source src="/media/anterior.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>         
                    <div class="card-body">
                        <h5 class="card-title"> Migration of the anterior lateral line primordium </h5>
                        <p class="card-text">Low-resolution timelapse movie of the migration of the anterior lateral line primordium in the CldnB:lyn-GFP transgenic line. Nikon Ti2 spinning disc, images aquired every three minutes.</p>
                    </div>
                </div>
            </div>  
        </div>
        
         <div class="row">
             <div class="col-md-6 mb-2">
                <div class="card">
                    <img class="card-img-top" src="https://res.cloudinary.com/damiandn/image/upload/v1541987757/zfish-1.png" alt="Migration of the anterior lateral line primordium">
                    <div class="card-body">
                        <h5 class="card-title"> DIC/fluorescence overlay of the CldnB:lyn-GFP transgenic </h5>
                        <p class="card-text">Overlay image showing the position of the migrating lateral line primordium. Nikon Ti2 spinning disc.</p>
                    </div>
                </div>
            </div>  
        </div>
        
        
        

        
     
    </div>    
    
    
</section>




<% include partials/footer %> 