<% include partials/header %>

<div class="ui segment">

<div class="ui raised segment">
<h1 class="page_header"> Publications </h1>

</div>

<h3 class="page_subhead">Research Articles</h3>

<div class="ui celled list">
    <div class="item">
    <p></p>
    <p>
        Zheng W, Wu Y, Winter P, Fischer R, <strong>Dalle Nogare D</strong>, Hong A, McCormick C, Christensen R, Dempsey WP, Arnold DB, Zimmerberg J, Chitnis A, Sellers J, Waterman C and Shroff H. Adaptive optics improves multiphoton super-resolution imaging. Nat Methods (2017) Jun 19 14 869-872
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        Knutsdottir H, Zmurchok C, Bhaskar D, Palsson E, <strong>Dalle Nogare D</strong>, Chitnis AB and Edelstein-Keshet L. Polarization and migration in the zebrafish posterior lateral line system. PLoS Comput Biol (2017) 13(4):e1005451
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        <strong>Dalle Nogare D</strong> and Chitnis AB. A framework for understanding morphogenesis and migration of the zebrafish posterior lateral line primordium. Mech. Dev. (2017) [Epub ahead of print]
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        <strong>Dalle Nogare D</strong>, Nikaido M, Somers K, Head J, Piotrowski T and Chitnis AB. In toto imaging of the migrating Zebrafish lateral line primordium at single cell resolution. Dev Biol (2017) Feb1;422(1).
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        Matsuda M, Rand K, Palardy G, Shimizu N, Ikeda H, <strong>Dalle Nogare D</strong>, Itoh M and Chitnis AB. Epb41l5 competes with Delta as a substrate for Mib1 to coordinate specification and differentiation of neurons. Development (2016) 143(17) 3085-96.
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        Winter PW, York AG, <strong>Dalle Nogare D</strong>, Ingaramo M, Christensen R, Chitnis AB, Patterson GH and Shroff H. Two-photon instant structured illumination microscopy improves the depth penetration of super-resolution imaging in thick scattering samples. Optica (2014) Sep 20; 1(3):181-191
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        <strong>Dalle Nogare D</strong>, Somers K, Rao S, Matsuda M, Reichman M, Raz E and Chitnis AB. Leading and Trailing cells cooperate in collective migration of the zebrafish lateral line primordium. Development (2014) 141(16) 3188-96
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        Matsuda M, <strong>Dalle Nogare D</strong>, Somers K and Chitnis AB. Lef1 regulated Dusp6 to influence neuromast formation and spacing in the Zebrafish posterior lateral line primordium. Development (2013) 140(11) 2387-97
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        York AG, Chandris P, <strong>Dalle Nogare D</strong>, Head J, Wawrzusin P, Fischer R, Chitnis AB and Shroff, H. Instant super-resolution imaging in live cells and embryos via analog image processing. Nature Methods 2013 10;11 1122-1126.
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        York AG, Parekh SH, <strong>Dalle Nogare D</strong>, Fischer RD, Temprine K, Mione M, Chitnis AB, Combs CA, and Shroff, H. Resolution doubling in live, multicellular organizsm via multifocal structured illumination microscopy. Nature Methods 2012 13:9(7) 749-54
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        Veleri S, Bishop K, <strong>Dalle Nogare D</strong>, English MA, Foskett TJ, Chitnis A, Liu P, Swaroop A. Knockdown of Bardet-Biedl syndrome gene BBS9/PTHB1 leads to cilia defects. PLoS One (2012) 12;7(3) e34389
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        Ernst S, Liu K, Avci ME, Agarwala S, Moratscheck N, <strong>Dalle Nogare D</strong>, Chitnis A, Ronneberger A, Lecaudey V. Shroom3 is required downstream of FGF signaling to mediate proneuromast assembly in the zebrafish. Development (2012) 139(24): 4571-81
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        <strong>Dalle Nogare D</strong>, Pauerstein, P and Lane ME. G2 acquisition by transcription-independent mechanism at the zebrafish midblastula transition. Dev Biol. 2009 Feb 1;326(1):131-42.
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        <strong>Dalle Nogare DE</strong>, Arguello A, Sazer S and Lane, ME Zebrafish cdc25 is expressed during early development and is limiting for post-blastoderm cell cycle progression. Dev. Dyn. 236(12) 3427-3435 2007
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        Cardnell RJ, <strong>Dalle Nogare D</strong>, Ganetzky B and Stern MJ In vivo analysis of a gain-of-function mutation in the Drosophila eag-encoded K+ channel. Genetics 172(4) 2351-2358 2006
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        Goodwin TJ, <strong>Dalle Nogare D</strong>, Bulter MI and Poulter RT Ty3/gypsylikeretrotransposons in Candida albicans and Candida dubliniensis: Tca3 and Tcd3. Yeast 20(6) 493-508 2003
    </p>
    <p></p>
    </div class="item">
    
    <div class="item">
    <p></p>
    <p>
        <strong>Dalle Nogare D</strong>, Clark MS, Elgar G, Frame IG and Poulter RT  Xena, a full length basal retroelement from tetraodontid fish. Mol Bio Evol 19(3) 247- 255 2002
    </p>
    <p></p>
    </div class="item">

</div class="ui celled list">

<h3 class="page_subhead">Reviews</h3>



<div class="ui celled list">
    <div class="item">
        <p></p>
        <p>
            <strong>Dalle Nogare D</strong> and Chitnis AB. Connecting physical cues and tissue patterning. Elife (2015) Oct 16;4:e11375
        </p>
        <p></p>
    </div class="item">
    
    <div class="item">
        <p></p>
            <p>
                Chitnis, AB and <strong>Dalle Nogare, D</strong>. Lessons from the Zebrafish Lateral Line System. In Moody, S (ed) Principles of Developmental Genetics, 2nd Edition.
        </p>
        <p></p>
    </div class="item">
        
    <div class="item">    
        <p></p>
        <p>
            Chitnis AB, <strong>Dalle Nogare, D</strong> and Matsuda M. Building the posterior lateral line system in zebrafish. Dev. Neurobiol (2012) 72(3) 234-55
        </p>
        <p></p>
    </div class="item">

</div class="ui celled list">

</div class="ui segment">


<% include partials/footer %>